################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/RiverBooks.Books/bin
/src/RiverBooks.Books/obj
/src/RiverBooks.Web/bin
/src/RiverBooks.Web/obj
/src/.vs/
/src/RiverBooks.Books.Tests/bin/Debug/net8.0
/src/RiverBooks.Books.Tests/obj
